@each $title, $value in $borders {
    .#{$borderPrefix}-#{$title}{
        border: $value solid $defaultBorderColor !important;
    }
}

@each $title, $value in $themeColors {
    .#{$borderPrefix}-#{$title}{
        border-color: $value !important;
    }
}

@each $title, $value in $border-radius {
    .#{$BRPrefix}-#{$title}{
        border-radius: $value !important;
    }
}

