@each $name,
$value in $displays {
  .#{$displayPrefix}-#{$name} {
    display: $value !important;
  }
}

@if $justifyContentAvailability==true {
  @each $name,
  $value in $justify-content {
    .#{$flexPropertiesPrefix}-jc-#{$name} {
      justify-content: $value !important;
    }
  }
}

@if $alignItemsAvailability==true {
  @each $name,
  $value in $align-items {
    .#{$flexPropertiesPrefix}-ai-#{$name} {
      align-items: $value !important;
    }
  }
}

@if $alignContentAvailability==true {
  @each $name,
  $value in $align-content {
    .#{$flexPropertiesPrefix}-ac-#{$name} {
      align-content: $value !important;
    }
  }
}

@if $alignSelfAvailability==true {
  @each $name,
  $value in $align-self {
    .#{$flexPropertiesPrefix}-as-#{$name} {
      align-self: $value !important;
    }
  }
}

@if $flexWrapAvailability==true {
  @each $name,
  $value in $flex-wrap {
    .#{$flexPropertiesPrefix}-#{$name} {
      flex-wrap: $value !important;
    }
  }
}

@if $flexDirAvailability==true {
  @each $name,
  $value in $flex-dir {
    .#{$flexPropertiesPrefix}-#{$name} {
      flex-direction: $value !important;
    }
  }
}

@if $flexGrowAvailability==true {
  @for $i from 1 to $columnSys+1 {
    .#{$flexPropertiesPrefix}-grow-#{$i} {
      flex-grow: $i;
    }
  }
}

@if $flexShrinkAvailability==true {
  @for $i from 1 to $columnSys+1 {
    .#{$flexPropertiesPrefix}-shrink-#{$i} {
      flex-shrink: $i;
    }
  }
}

@if $orderClassesAvailability == true {
  @for $i from 1 to $columnSys + 1 {
    .order-#{$i} {
      order: $i;
    }
  }
}