.pagination {
  display: inline-flex;
  gap: $paginationGap;
  padding: $paginationPadding-y $paginationPadding-x;
  background-color: $paginationBackgroundColor;
  box-shadow: 0 0 $paginationBoxShadowBlur $paginationBoxShadowSpread $paginationBoxShadowColor;
  border-radius: $paginationBorderRadius;
  position: relative;
  overflow: hidden;
  /*rtl:ignore*/
  direction: ltr;

  &-item {
    padding: $paginationItemPadding-y $paginationItemPadding-x;
    border-radius: $paginationItemBorderRadius;
    cursor: pointer;
    z-index: $paginationItemZIndex;

    &.active {
      background-color: $paginationActiveItemBackgroundColor;
      color: $paginationActiveItemColor;
    }
  }

  @if $paginationHoverEffect == true {

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $paginationBeforeBackgroundColor;
      z-index: $paginationBeforeZIndex;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform $paginationBeforeTransition $paginationBeforeTransitionType;
    }

    &:hover {
      color: $paginationColorOnHover;
    }

    &:hover &-item.active {
      background-color: $paginationActiveItemBackgroundColorOnHover;
      color: $paginationActiveItemColorOnHover;
    }

    &:hover::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}