%toast {
  padding: $toastPadding-y $toastPadding-x;
  font-size: $toastFontSize;
  position: fixed;
  border-radius: $toastBorderRadius;
  transition: transform $toastTransition $toastTransitionType,
  opacity $toastTransition + 0.3s $toastTransitionType;
}

@each $colorName,
$hex in $toastColors {
  .#{$toastPrefix}-#{$colorName} {
    @extend %toast;
    background-color: $hex;
    @if lightness($hex) < 55 {
      color: map-get($themeColors, white);
    }
  }
}

.#{$toastPrefix}-bottom-right {
  bottom: $toastSpaceFromEdges-y;
  /*rtl:ignore*/
  right: $toastSpaceFromEdges-x;
}

.#{$toastPrefix}-bottom-left {
  bottom: $toastSpaceFromEdges-y;
  /*rtl:ignore*/
  left: $toastSpaceFromEdges-x;
}

.#{$toastPrefix}-top-right {
  top: $toastSpaceFromEdges-y;
  /*rtl:ignore*/
  right: $toastSpaceFromEdges-x;
}

.#{$toastPrefix}-top-left {
  top: $toastSpaceFromEdges-y;
  /*rtl:ignore*/
  left: $toastSpaceFromEdges-x;
}