%toast {
    padding: $toastPadding-y $toastPadding-x;
    font-size: $toastFontSize;
    position: absolute;
    color: $toastColor;
    border-radius: $toastBorderRadius;
    transition: transform $toastTransition $toastTransitionType,
        opacity $toastTransition + 0.3s $toastTransitionType;
}

@each $colorName,
$hex in $toastColors {
    .#{$toastPrefix}-#{$colorName} {
        @extend %toast;
        background-color: $hex;
    }
}

.#{$toastPrefix}-bottom-right {
    bottom: $toastSpaceFromEdges-y;
    right: $toastSpaceFromEdges-x;
}

.#{$toastPrefix}-bottom-left {
    bottom: $toastSpaceFromEdges-y;
    left: $toastSpaceFromEdges-x;
}

.#{$toastPrefix}-top-right {
    top: $toastSpaceFromEdges-y;
    right: $toastSpaceFromEdges-x;
}

.#{$toastPrefix}-top-left {
    top: $toastSpaceFromEdges-y;
    left: $toastSpaceFromEdges-x;
}