@if $layoutSysFlex == true {
    .#{$rowClassName}-f {
        display: flex;
        flex-flow: row wrap;

        & > * {
            --left-gap : #{$columnMarginLeft};
            --right-gap : #{$columnMarginRight};
            padding: $sm-spacing * 0.5 $sm-spacing;
            margin-right: var(--right-gap);
            margin-left: var(--left-gap);
        }
    }

    @for $i from 1 to $columnSys+ 1 {
        .#{$ColumnPrefix}-#{$i} {
            flex: 0 0 calc(#{calculateGridStep() * $i * 1%} - #{$columnMarginRight + $columnMarginLeft});
            width: calc(#{calculateGridStep() * $i * 1%} - #{$columnMarginRight + $columnMarginLeft});
        }
    }

    @for $i from 1 to $columnSys+ 1 {
        .#{$ColumnPrefix}-grow-#{$i} {
            flex: 1 0 calc(#{calculateGridStep() * $i * 1%} - #{$columnMarginRight + $columnMarginLeft});
            width: calc(#{calculateGridStep() * $i * 1%} - #{$columnMarginRight + $columnMarginLeft});
        }
    }

    @each $name,
    $value in $breakPoints {
        @include mediaQueryUp($name) {
            @for $i from 1 to $columnSys+ 1 {
                .#{$ColumnPrefix}-#{$name}-#{$i} {
                    flex: 0 0 calc(#{calculateGridStep() * $i * 1%} - #{$columnMarginRight + $columnMarginLeft});
                    width: calc(#{calculateGridStep() * $i * 1%} - #{$columnMarginRight + $columnMarginLeft});
                }
            }

            @for $i from 1 to $columnSys+ 1 {
                .#{$ColumnPrefix}-#{$name}-grow-#{$i} {
                    flex: 1 0 calc(#{calculateGridStep() * $i * 1%} - #{$columnMarginRight + $columnMarginLeft});
                    width: calc(#{calculateGridStep() * $i * 1%} - #{$columnMarginRight + $columnMarginLeft});
                }
            }
        }
    }
}
